---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Imprint">
    <main>
        <p>Operator:</p>

        <p>Jörg Wunderlich</p>

        <p></p>

        <p>Address of delivery</p>

        <p>
            Samuel Menigat<br />c/o Jörg Wunderlich<br />Sunset Court Fl. 2<br
            />Triq L-Imriekeb<br />MSK3535 Marsaskala<br />Malta<br /><br />Tel:
            +4917623198672<br /><a href="mailto:team@metropoliplan.org"
                >team@metropoliplan.org</a
            >
        </p>

        <h1 class="wp-block-heading">Disclaimer – legal notice</h1>

        <p><strong>Purpose of the website</strong></p>

        <p>
            The purpose of this website is to inform, within a closed user
            group, about the functionalities of the Metropoliplan planning
            software. Metropoliplan is a private project for the organization of
            public witnessing in metropolitan areas. It is available free of
            charge exclusively to Jehovah’s Witnesses.
        </p>

        <p><br /><strong>Right of information and revocation</strong></p>

        <p>
            You have the right at any time to inquire free of charge and without
            delay about the data collected about you. You can also revoke your
            consent to the use of your personal data with effect for the future.
            For this purpose, please contact the service provider indicated in
            the imprint.
        </p>

        <p><strong>Dataprotection (common)</strong></p>

        <p>
            When you access our website, general information (so-called server
            log files) is automatically collected. These include, among other
            things, the web browser you use, your operating system and your
            Internet service provider. This data does not allow any conclusions
            to be drawn about your person and is statistically evaluated by us
            in order to improve our website technically and in terms of content.
            The collection of this information is necessary to deliver the
            content of the website correctly.
        </p>

        <p>
            The use of the website is generally possible without providing
            personal data. As far as personal data (such as name, address or
            e-mail addresses) are collected, this is as far as possible on a
            voluntary basis. This data will not be passed on to third parties
            without your express consent.
        </p>

        <p>
            If a contractual relationship is to be established, the content of
            which is to be defined or changed, or if you submit an inquiry to
            us, we collect and use personal data from you insofar as this is
            necessary for this purpose (inventory data). We collect, process and
            use personal data to the extent necessary to enable you to use the
            website (usage data). All personal data will only be stored as long
            as it is necessary for the stated purpose (processing of your
            request or processing of a contract). In this context, we take into
            account retention periods under tax and commercial law. By order of
            the competent authorities, we must provide information about this
            data (inventory data) in individual cases, insofar as this is
            necessary for the purposes of criminal prosecution, to avert danger,
            to fulfill the legal tasks of the constitution protection
            authorities or the Military Counter-Intelligence Service or to
            enforce intellectual property rights.
        </p>

        <p>
            We expressly point out that data transmission on the Internet (e.g.
            communication by e-mail) can have security gaps. It is not possible
            to provide complete protection against access to data.
        </p>

        <p>
            The use of contact data published within the framework of the
            imprint obligation by third parties for the transmission of not
            expressly requested advertising and information materials is hereby
            expressly prohibited. Excepted from this are existing business
            relationships or you have a corresponding consent from us.
        </p>

        <p>
            The providers and all third parties mentioned on this website
            expressly reserve the right to take legal action in the event of the
            unsolicited sending of advertising information. The same applies to
            the commercial use and disclosure of data.
        </p>

        <p><strong>Dataprotection (comment function)</strong></p>

        <p>
            In the context of the comment function of our blog, we collect
            personal data (e.g. name, email) in the context of your comment on a
            post only to the extent that you have provided it to us. When
            publishing a comment, the email address you provide will be stored
            but not published. Your given name will be published. You can also
            use a pseudonym.
        </p>

        <p><strong>Disclaimer (Haftungsausschluss)</strong></p>

        <p><strong>1. Haftung für Inhalte</strong></p>

        <p>
            As a service provider, we are responsible for our own content on
            these pages in accordance with general legislation pursuant to
            Section 7 (1) of the German Telemedia Act (TMG). According to §§ 8
            to 10 TMG, however, we are not obligated as a service provider to
            monitor transmitted or stored third-party information or to
            investigate circumstances that indicate illegal activity.
            Obligations to remove or block the use of information under the
            general laws remain unaffected. However, liability in this regard is
            only possible from the point in time at which a concrete
            infringement of the law becomes known. If we become aware of such
            infringements, we will remove this content immediately.
        </p>

        <p><strong>2. Liability for links</strong></p>

        <p>
            This website contains links to external third-party websites, the
            content of which cannot be influenced. Therefore, no liability can
            be assumed for these external contents. The respective provider or
            operator of the pages is always responsible for the content of the
            linked pages. The linked pages were checked for possible legal
            violations at the time of linking. Illegal contents were not
            recognizable at the time of linking. However, a permanent control of
            the contents of the linked pages is not reasonable without concrete
            evidence of a violation of the law. If we become aware of any
            infringements, we will immediately remove such links from this
            website to the infringing site.
        </p>

        <p><strong>3. Copyright</strong></p>

        <p>
            The contents and works on these pages created by the service
            providers, their employees and commissioned third parties are
            subject to German copyright law. Duplication, processing,
            distribution, or any form of commercialization of such material
            beyond the scope of the copyright law shall require the prior
            written consent of its respective author or creator. Downloads and
            copies of this site are only permitted for private, non-commercial
            use. Insofar as the content on this site was not created by the
            operator, the copyrights of third parties are respected. In
            particular, third-party content is identified as such. Should you
            nevertheless become aware of a copyright infringement, please inform
            us accordingly. If we become aware of any infringements, such
            content will be removed immediately.
        </p>

        <p>
            This imprint was created with the help of the imprint generator of
            HENSCHE Rechtsanwälte, Kanzlei für Arbeitsrecht.
        </p>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: rgb(var(--accent-dark));
        font-size: 20px;
        line-height: 1.6;
    }
    a, a:visited {
        color: rgb(var(--accent));
    }
</style>
