---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout
    title="Metropoliplan - Software for organizing metropolitan public whitnessing"
>
    <main>
        <svg
            class="astro-a"
            width="200"
            viewBox="0 0 514 295"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
        >
            <rect x="83" y="111" width="69" height="158" fill="#777FC6"></rect>
            <rect x="24" y="111" width="36" height="158" fill="#21275C"></rect>
            <rect x="176" y="111" width="36" height="158" fill="#21275C"></rect>
            <path
                d="M45 115C49.8333 132.333 65.6 181 96 181"
                stroke="#21275C"
                stroke-width="31"></path>
            <path
                d="M191 115C186.167 132.333 170.4 181 140 181"
                stroke="#21275C"
                stroke-width="31"></path>
            <path
                d="M24 102C45.5391 102 63 84.5391 63 63C63 41.4609 45.5391 24 24 24V102Z"
                fill="#777FC6"></path>
            <path
                d="M212 24C190.461 24 173 41.4609 173 63C173 84.5391 190.461 102 212 102L212 24Z"
                fill="#777FC6"></path>
            <rect x="212" y="111" width="134" height="158" fill="#777FC6"
            ></rect>
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M441 149L384 149V172L441 172V149ZM384 210H441C468.062 210 490 187.838 490 160.5C490 133.162 468.062 111 441 111H441H384L346 111V149L251 149V173L346 173V210V211L251 211V235H346V270H384V210ZM441 149C447.627 149 453 154.149 453 160.5C453 166.851 447.627 172 441 172L441 149Z"
                fill="#21275C"></path>
        </svg>
        <h1>Welcome to <span class="text-gradient">Metropoliplan</span></h1>
        <p class="description">
            A software for organizing metropolitan public whitnessing
        </p>
		<p class="info">We're currently in the process of migrating content from our old website...</p>
        <ul role="list" class="link-card-grid">
            <Card
                href="/index-de.html"
                title="Documentation"
                body="Learn how to use Metropoliplan"
            />
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: rgb(--accent-dark);
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        font-size: clamp(3rem, 3.464vw + 2.229rem, 5rem);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0;
    }
    .text-gradient {
        color: rgb(var(--accent));
    }
    .description {
		margin-top: 16px;
		font-size: 28px;
		line-height:1.1;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
	.info {
		display: flex;
		padding: 24px;
		background-color: #fffad4;
		color: #908100;
		border: 2px solid #f6e760;
		border-radius: 7px;
		transition: transform 100ms ease-in-out;
	}
</style>
