---
import Layout from '../layouts/Layout.astro';
import Card from './Card.astro';
import { initI18n } from '../i18n';
import MepLogo from './MepLogo.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
    locale: string;
}

const t = initI18n(Astro.props.locale);
---

<Layout title={`Metropoliplan - ${t('description')}`}>
    <main>
        <MepLogo />
        <h1>
            <span class="text-gradient">Metropoliplan</span>
        </h1>
        <p class="description">{t('description')}</p>
        <ul role="list" class="link-card-grid">
            <Card
                href={getRelativeLocaleUrl(Astro.props.locale, "about")}
                title={t('about')}
                body={t('aboutDescription')}
            />
            <Card
                href={`/index-${Astro.props.locale}.html`}
                title={t('documentation')}
                body={t('documentationDescription')}
            >
                <span slot="icon">📘</span>
            </Card>
            <Card
                href={`https://www.metropoliplan.org/MEP-Status/`}
                title={t('status')}
                body={t('statusDescription')}
            >
                <span slot="icon">🚥</span>
            </Card>
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: rgb(--accent-dark);
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 64px;
    }
    h1 {
        font-size: clamp(3rem, 3.464vw + 2.229rem, 5rem);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0;
    }
    .text-gradient {
        color: #777fc6;
        background: var(--accent-gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .description {
        margin-top: 16px;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.1;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
        margin-top: 64px;
    }
    .info {
        display: flex;
        padding: 24px;
        background-color: #fffad4;
        color: #908100;
        border: 2px solid #f6e760;
        border-radius: 7px;
        transition: transform 100ms ease-in-out;
    }
</style>
