---
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <footer>
            <a href={getRelativeLocaleUrl(Astro.currentLocale!, 'privacy')}
                >Privacy Policy</a
            >
            <ul>
                <li class="lang"><a href="/">Deutsch</a></li>
                <li class="lang"><a href="/es">Español</a></li>
            </ul>
            <p class="copyright">© The Metropoliplan Team 2017-2024</p>
        </footer>
    </body>
</html>
<style is:global>
    :root {
        --accent: 22, 29, 92;
        --accent-bg: #f4f4ff;
        --accent-medium: 119, 127, 198;
        --accent-light: 211, 211, 255;
        --accent-dark: 22, 29, 92;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-medium))
        );
    }
    * {
        color: rgb(var(--accent-dark));
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    .lang {
        display: inline;
    }
    .lang + .lang::before {
        content: ' | ';
    }
    html {
        height: 100%;
        font-family: system-ui, sans-serif;
        background: linear-gradient(45deg, var(--accent-bg), #d4d4ee);
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
    footer {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        text-align: center;
    }
    a,
    a:visited {
        color: rgb(var(--accent));
    }
    a + a {
        margin-left: 16px;
    }
    .copyright {
        font-size: 0.8rem;
    }
</style>
