---
import MepLogo from '../components/MepLogo.astro';
import Layout from './Layout.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
    <main>
        <MepLogo />
        <slot />
    </main>
    <style is:global>
        main {
            margin: auto;
            padding: 1rem;
            width: 800px;
            max-width: calc(100% - 2rem);
            color: rgb(var(--accent-dark));
            font-size: 20px;
            line-height: 1.6;
        }
        a,
        a:visited {
            color: rgb(var(--accent));
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.1;
        }
        ul {
            padding-left: 1.5rem;
            list-style-type: disc;
        }
        img {
            width: 100%;
        }
    </style>
</Layout>
